* {
    margin: 0;
    background-color: rgb(240 242 245);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    margin: 50px;
    padding: 50px;
}

.left h1 {
    font-size: 4.5rem;
    color: rgb(66 103 178);
}

.left p {
    font-size: 1.7rem
}

.right {
    margin: 120px auto 12px;
    background-color: rgb(255 255 255);
    border-radius: 8px;
}

form {
    border-radius: 8px;
    padding: 10px;
    margin: 8px 5px;
    background-color: inherit;
    box-sizing: border-box;
    width: 396px;
    border: none;
    box-shadow: 0px 2px 10px 1px solid black;
}

.text {
    margin-bottom: 10px;
}

input[type="text"] {
    border-radius: 7px;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(221 223 226);
}

.password {
    margin-bottom: 10px;
}

input[type="password"] {
    border-radius: 7px;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(221 223 226);
}

.submit {
    width: 100%;
    background-color: inherit;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(24 119 242);
    border-radius: 6px;
    color: white;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid rgb(221 223 226);
}

.bot {
    background-color: #fff;
    margin: 16px 0px 0px;
}

.border {
    align-items: center;
    border-bottom: 1px solid rgb(24, 90, 177);
    margin: 20px 16px;
    display: flex;
    text-align: center;
}

.bot a {
    text-align: center;
    font-size: 14px;
    color: rgb(24 119 242);
    /* font-size: 14px; */
    font-weight: 500;
    margin-left: 100px;
    background-color: #fff;
}

.button {
    text-align: center;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    width: 50%;
    border: none;
    margin-left: 70px;
}

.achor {
    text-align: left;
    margin-left: 60.5%;
    font-size: 15;
}

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .left {
        margin: 20px;
    }
    .left h1 {
        font-size: 80;
    }
    .left p {
        font-size: 30;
    }
    .right {
        width: 100%;
        margin: 10px;
        margin-left: 10px;
    }
    form {
        width: 100%;
        margin: 8px auto;
    }
    .button {
        width: 70%;
    }
    input[type="submit"] {
        width: 100%;
        margin-left: 5px;
    }
    input[type="password"] {
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
    }
    .bot a {
        text-align: center;
        /* font-size: 14px; */
        font-weight: 500;
        margin-left: 120px;
        background-color: #fff;
    }
    .button {
        width: 50%;
        margin-right: 200px;
    }
    .achor {
        margin-left: 10.5%;
        font-size: 15;
    }
}